@font-face {
  font-family: 'FontAwesome';
  src: url('../font/FontAwesome/FontAwesome.otf');
  src: url('../font/FontAwesome/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../font/FontAwesome/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../font/FontAwesome/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../font/FontAwesome/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


.content-maincontainer{
	padding-top: 50px;
	margin-top: 0px;
	margin-left: 10%;
	margin-right: 17%;
}

.container{
	padding-right: 20px;
  	padding-left: 20px;
  	padding-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}

.about{
	text-align: center;
	float: left;
	progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#393939,endColorStr=#e6e6e6);/*IE6*/
	background:-moz-linear-gradient(top,#393939,#e6e6e6);/*非IE6的其它*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#393939), to(#e6e6e6));/*非IE6的其它*/
	width: 220px;
	height: 500px;
}

.imgbox{
	margin-top: -20px;
	padding-top: 0px;
	width: 220px;
	height: 80px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
	width: 80px;
	height: 80px;
}

.about-title{
	padding-top: 10px;
	font-family: "微软雅黑" "华文黑体";
	font-size: 16px;
	color: #ffffff;
}

.about-text{
	font-family: "华文细黑" "微软雅黑";
	font-size: 14px;
	color: #ffffff;
	padding-left: 25px;
	padding-right: 25px;
}

.content-container{
	position: relative;
	width: 75%;
	margin-left: 270px;
}

.content-title{
	margin-top: 0px;
	margin-bottom:30px;
	position: relative;
	font-family: Perpetua;
	font-size: 60px;
	color: #393939;
}

.content-title::selection{
	background-color: #393939;
	color: #e6e6e6;
}

.journal-list{
	padding-left: 0px;
	margin-bottom: 20px;
}

.journal-list-item{
	position: relative;
	display: block;
	padding: 12px 15px;
	margin-bottom: -1px;
	border: 1px solid #dddddd;
	background-color: #393939;
	color: #e6e6e6;
	text-decoration: none;
	font-family: "微软雅黑" "华文黑体";
	-webkit-font-smoothing: antialiased;
	font-size: 25px;
}

.journal-list-item:first-child {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.journal-list-item:last-child {
  margin-bottom: 0px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

a.journal-list-item:hover{
	background-color: #e2bc33;
	color: #393939;
}

.workview{
	list-style-type:none;
	margin-bottom: 40px;
}

.workview > li{
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid #000;
}

.workview > li > img{
	width: 70%;
}

.tip{
	margin-top: 40px;
	float: right;
	position: relative;
	display: block;
	padding: 50px 20px;
	width: 17%;
	text-align: center;
	background-color: #393939;
	color: #e6e6e6;
	text-decoration: none;
	font-family: "微软雅黑" "华文黑体";
	font-size: 25px;
	border-top-right-radius: 8px;
  	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
  	border-bottom-left-radius: 8px;
}

.tip:before{
	position: absolute;
	border-top: 20px solid transparent;
	border-right: 20px solid #eee;
	border-bottom: 20px solid transparent;
	border-right-color: #393939;
	left: -18px;
	top: 40px;
	content: '';
}

.tip:hover{
	background-color: #e2bc33;
	color: #393939;
}

.tip:hover::before{
	border-right-color: #e2bc33;
}

.about-conneticon{
	margin-top: 30px;
}

.about-conneticon > a{
	text-decoration: none;
	padding: 3px 2px;
	font-size: 25px;
	color: #393939;
	font-family: FontAwesome;
	-webkit-font-smoothing: antialiased;
}

.about-conneticon a:hover {
	color: #e2bc33;
}

.icon-github::before {
	content:"\f09b";
}
.icon-mail::before {
	content:"\f0e0";
}
.icon-weibo::before {
	content:"\f18a";
}
.icon-renren::before {
	content:"\f18b";
}
