body {

    text-align: center;
}


.page {

    position: relative;

    width: 100%;

}


.title {

    font-family: 黑体;

    position: relative;

    color: black;

    font-weight: bold;

    font-size: 3em;

    text-align: left;

}


.title a,
.title a:visited {

    text-decoration: none;

    cursor: pointer;

}


.title a:hover {

    text-decoration: none;

    cursor: pointer;

    color: #ececec;

}


.image {

    vertical-align: middle;

    position: absolute;

}


.content {

    color: black;

    font-size: 1.5em;

    position: absolute;

    font-family: Microsoft YaHei, 微软雅黑;

    text-indent: 2em;

    line-height: 2em;

    text-align: left;

    font-weight: lighter;

}


#main {

    background-image: url(../image/animal/1.jpg);

    background-size: cover;

    width: 1440px;

    height: 2000px;

    margin: auto;

}


#logo {

    position: absolute;

    top: 2vh;

    left: 7vw;

    width: 15vw;

}


#navbar {

    position: absolute;

    top: 6vh;

    left: 22vw;

}


#navbar .item {

    display: inline-block;

    text-align: center;

    width: 11vw;

    margin: 0 2vw;

}


#navbar .item img {

    display: inline-block;

    margin-bottom: 5px;

    width: 100%;

}


#navbar .item a,

#navbar .item a:hover,

#navbar .item a:link,

#navbar .item a:visited {

    text-decoration: none;

    font-family: 黑体;

    font-size: 1.8em;

    cursor: pointer;

    color: black;

}


#navbar .item a

#navbar .item a:visited {
 
   color: black;

    left:20px;

}


#navbar .item a:hover {

    color: #1F65C8;

}


#page_title {

    font-family: 黑体;

    font-size: 3.8em;

    position: relative;

    top: 190px;

}


#yu {

    height: 380px;

    top: 300px;

}


#yu .title {

    top: 22%;

    left: 5%;

}


#yu .content {

    top: 40%;

    left: 5%;

    width: 28%;

}


#yu .image {

    top:60%;

    left: 15%;

}


#ye {

    top: -20px;

    height:500px;

}


#ye .title {

    top: -5%;

    left: 75%;

}


#ye .content {

    top: 10%;

    left: 75%;

    width: 28%;

}


#ye #right{

    left: 40%;

    bottom: 5%;

}


#ye #left {

    left: 20%;

    top: 80%;

}

#chuang {

    top: 200px;

    height: 480px;

}


#chuang .title {

    top: 5%;

    left: 5%;

}


#chuang .content {

    top: 20%;

    left: 5%;

    width: 29%;

}

#chuang .image {

    left: 23%;

}

#kai{

    top:-20%;

    height: 300px;

}


#kai .title {

    top:-10%;

    left: 55%;

}


#kai .content {

    top: 10%;

    left: 55%;

    width: 28%;

}


#kai .image {

    top: 5%;

    left: 83%;

}


#dong{

    top: -15%;

    height: 200px;

}


#dong .title {

    top:0%;

    left: 60%;

}


#dong .content {
    top: 30%;

    left: 60%;

    width: 28%;

}


#dong .image {
    top:-20%;
    left: 75%;

}

#da{

    top: -20%;

    height: 200px;

}


#da .title {

    top:-10%;

    left: 10%;

}


#da .content {
    top: 20%;

    left: 10%;

    width: 32%;

}


#da .image {

    left: 5%;

}

#sen{

    top:-23%;

    height: 20px;

}


#sen .title {

    top:0%;

    left: 35%;

}


#sen .content {
    top: 280%;

    left: 35%;

    width: 28%;

}


#sen .image {
    top: -320%;
    left: 55%;

}

#footer {

    font-family: 黑体 ;

    position: relative;

    width: 100%;

    background-color: #bdbdbd;

    text-align: center;

    top: -150px;

    padding-top: 10px;

    padding-bottom: 1px;

}
