body {
    text-align: center;
}

#main {
    background-size: cover;
    width: 1440px;
    margin: auto;
    position: relative;
}

#logo {
    float: left;
    width: 200px;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
}

#navbar {
    padding: 50px 5%;
}

#navbar .menu {
    display: none;
    position: relative;
    top: 5px;
    left: 0px;
    float: left;
    width: 100%;
    height:0px;
    text-align:left;
}

#navbar .menu a {
    text-decoration: none;
    font-family: 黑体;
    font-size: 1.6em;
    cursor: pointer;
    color: black;
    display: block;
    line-height: 1.3em;
}

.menu:hover,
#navbar #nav-brick:hover .menu,
#navbar #nav-index:hover .menu {
    display: block;
}

#navbar .item {
    display: inline-block;
    text-align: center;
    width: 12%;
    margin: 0 30px;
}

#navbar .item img {
    display: inline-block;
    margin-bottom: 5px;
    width: 100%;
}

#navbar .item a,
#navbar .item a:hover,
#navbar .item a:link,
#navbar .item a:visited {
    text-decoration: none;
    font-family: 黑体;
    font-size: 1.8em;
    cursor: pointer;
    color: black;
}

#navbar .item a
#navbar .item a:visited {
    color: black;
    left:20px;
}

#navbar .item a:hover {
    color: #1F65C8;
}

#footer {
    font-family: 黑体 SimHei STHeiti;
    width: 100%;
    background-color: #F1C48C;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 1px;
}

.clear {
    clear: both;
}