body {

    text-align: center;
}


.page {

    position: relative;

    width: 100%;

}


.title {

    font-family: 黑体;

    position: relative;

    color: black ;

    font-weight: bold;

    font-size: 3em;

    text-align: left;

}


.title a,
.title a:visited {

    text-decoration: none;

    cursor: pointer;

}


.title a:hover {

    text-decoration: none;

    cursor: pointer;

    color:  #ececec ;

}


.image {

    vertical-align: middle;

    position: absolute;

}



#main {

    background-image: url(../image/friend/1.jpg);

    background-size: cover;

    width: 1440px;

    height: 2000px;

    margin: auto;

}


#logo {

    position: absolute;

    top: 2vh;

    left: 7vw;

    width: 15vw;

}


#navbar {

    position: absolute;

    top: 6vh;

    left: 22vw;

}


#navbar .item {

    display: inline-block;

    text-align: center;

    width: 11vw;

    margin: 0 2vw;

}


#navbar .item img {

    display: inline-block;

    margin-bottom: 5px;

    width: 100%;

}


#navbar .item a,

#navbar .item a:hover,

#navbar .item a:link,

#navbar .item a:visited {

    text-decoration: none;

    font-family: 黑体;

    font-size: 1.8em;

    cursor: pointer;

    color: black;

}


#navbar .item a

#navbar .item a:visited {
 
   color: black;

    left:20px;

}


#navbar .item a:hover {

    color: #1F65C8;

}


#page_title {

    font-family: 黑体;

    font-size: 3.8em;

    position: relative;

    top: 250px;

}


#shi {

    height: 300px;

    top: 206px;

}


#shi .title {

    top: 150%;

    left: 28%;

}


#shi .image {
    top: 125%;
    right: 75%;

}


#jia {

    top: 206px;

    height: 300px;

}


#jia .title {

    top: 80%;

    left: 28%;

}



#jia .image {

    left: 25%;
    top: -40%;
    bottom: 5%;

}


#wen {

    top: 206px;

    height: 300px;

}


#wen .title {

    top: 14%;

    left: 28%;

}

#wen .image {

	left: 45%;
    top: -110%;
    bottom: 5%;

}

#wo {

    top: 306px;

    height: 300px;

}


#wo .title {

    top: 70%;

    left: 43%;

}


#wo .image {

    left: 32%;
    top: -10%;
    bottom: 1%;

}

#pai {

    top: 306px;

    height: 300px;

}


#pai .title {

    top: -8%;

    left: 43%;

}


#pai .image {

    left: 57%;
    top: -160%;
    bottom: 1%;

}

#guo {

    top: 306px;

    height: 180px;

}


#guo .title {

    top: -140%;

    left: 43%;

}


#guo .image {

    left: 75%;
    top: -300%;
    bottom: 1%;

}

#yue {

    top: 306px;

    height: 180px;

}


#yue .title {

    top: -200%;

    left: 43%;

}


#yue .image {

    left: 62%;
    top: -250%;
    bottom: 1%;

}


#footer {

    font-family: 黑体 ;

    position: relative;

    width: 100%;

    background-color: #bdbdbd;

    text-align: center;

    top: 20px;

    padding-top: 10px;

    padding-bottom: 1px;

}
