body {

    text-align: center;
}


.page {

    position: relative;

    width: 100%;

}


.title {

    font-family: 黑体;

    position: relative;

    color: black;

    font-weight: bold;

    font-size: 3em;

    text-align: left;

}


.title a,
.title a:visited {

    text-decoration: none;

    cursor: pointer;

}


.title a:hover {

    text-decoration: none;

    cursor: pointer;

    color: #ececec;

}


.image {

    vertical-align: middle;

    position: absolute;

}


.content {

    color: black;

    font-size: 1.5em;

    position: absolute;

    font-family: Microsoft YaHei, 微软雅黑;

    text-indent: 2em;

    line-height: 2em;

    text-align: left;

    font-weight: lighter;

}


#main {

    background-image: url(../image/military/1.jpg);

    background-size: cover;

    width: 1440px;

    height: 2500px;

    margin: auto;

}


#logo {

    position: absolute;

    top: 2vh;

    left: 7vw;

    width: 15vw;

}


#navbar {

    position: absolute;

    top: 6vh;

    left: 22vw;

}


#navbar .item {

    display: inline-block;

    text-align: center;

    width: 11vw;

    margin: 0 2vw;

}


#navbar .item img {

    display: inline-block;

    margin-bottom: 5px;

    width: 100%;

}


#navbar .item a,

#navbar .item a:hover,

#navbar .item a:link,

#navbar .item a:visited {

    text-decoration: none;

    font-family: 黑体;

    font-size: 1.8em;

    cursor: pointer;

    color: black;

}


#navbar .item a

#navbar .item a:visited {
 
   color: black;

    left:20px;

}


#navbar .item a:hover {

    color: #1F65C8;

}


#page_title {

    font-family: 黑体;

    font-size: 3.8em;

    position: relative;

    top: 190px;

}


#kong{

    height: 400px;

    top: 206px;

}


#kong .title {

    top: 20%;

    left: 60%;

}


#kong .content {

    top: 35%;

    left: 60%;

    width: 32%;

}


#kong .image {
    top:10%;
    right: 50%;

}


#jian {

    top:100px;

    height: 390px;

}


#jian .title {

    top: 5%;

    left:8%;

}


#jian .content {

    top: 20%;

    left: 8%;

    width: 40%;

}


#jian .image {

    left: 60%;
    top: -10%;
    bottom: 5%;

}


#tan {

    top: -40px;

    height: 360px;

}


#tan .title {

    top: 5%;

    left: 60%;

}


#tan .content {

    top: 20%;

    left: 60%;

    width: 29%;

}

#tan .image {

    left: 40%;
    top: -10%;
    bottom: 5%;

}



#ma {

    top:-150px;

    height: 350px;

}


#ma .title {

    top: 25%;

    left: 8%;

}


#ma .content {
    top: 40%;

    left: 8%;

    width: 40%;

}


#ma .image {

    left: 60%;
    top: 0%;
    bottom: 1%;

}
#dao {

    top:-250px;

    height: 300px;

}


#dao .title {

    top:10%;

    left: 60%;

}


#dao .content {
    top: 30%;

    left:60%;

    width: 29%;

}


#dao .image {
    top:0%;
    left:35%;
    bottom: 1%;

}

#zhi {

    top:-350px;

    height: 300px;

}


#zhi .title {

    top:10%;

    left: 8%;

}


#zhi .content {
    top: 30%;

    left:8%;

    width: 40%;

}


#zhi .image {
    top:0%;
    left:60%;
    bottom: 1%;

}

#hai {

    top:-400px;

    height: 320px;

}


#hai .title {

    top:10%;

    left: 60%;

}


#hai .content {
    top: 30%;

    left:60%;

    width: 30%;

}


#hai .image {
    top:-10%;
    left:35%;
    bottom: 1%;

}

#bu {

    top:-470px;

    height: 280px;

}


#bu .title {
    top:10%;

    left: 8%;

}


#bu .content {
    top: 30%;

    left:8%;

    width: 40%;

}


#bu .image {
    top:-20%;
    left:60%;
    bottom: 1%;

}

#du {

    top:-510px;

    height: 280px;

}


#du .title {

    top:10%;

    left: 60%;

}


#du .content {
    top: 30%;

    left:60%;

    width: 30%;

}


#du .image {
    top:-10%;
    left:35%;
    bottom: 1%;

}

#footer {

    font-family: 黑体 ;

    position: relative;

    width: 100%;

    background-color: #bdbdbd;

    text-align: center;

    top: -600px;

    padding-top: 10px;

    padding-bottom: 1px;

}
