#main {
    background-image: url(../image/originality/1.jpg);
    height: 2000px;
}

#title {
    margin-top: 50px;
    font-size: 50px;
    padding: 15px 0px;
    width: 90%;
    float: right;
    margin-bottom: 87px;
}

.title-group {
    padding: 65px 0px;
}

.item-title {
    font-size: 26px;
    width: 25%;
    display: inline-block;
}

.image-group {
    margin-top: 10px;
    margin-bottom: 15px;
}

.item-image {
    width: 23%;
    margin: 0px 1%;
    display: inline-block;
}
