body {

    text-align: center;
}


.page {

    position: relative;

    width: 100%;

}


.title {

    font-family: 黑体;

    position: relative;

    color: white;

    font-weight: bold;

    font-size: 3em;

    text-align: left;

}


.title a,
.title a:visited {

    text-decoration: none;

    cursor: pointer;

}


.title a:hover {

    text-decoration: none;

    cursor: pointer;

    color: #222222;

}


.image {

    vertical-align: middle;

    position: absolute;

}


.content {

    color: white;

    font-size: 1.5em;

    position: absolute;

    font-family: Microsoft YaHei, 微软雅黑;

    text-indent: 2em;

    line-height: 2em;

    text-align: left;

    font-weight: lighter;

}


#main {

    background-image: url(../image/space/1.jpg);

    background-size: cover;

    width: 1440px;

    height: 2000px;

    margin: auto;

}


#logo {

    position: absolute;

    top: 2vh;

    left: 9vw;

    width: 15vw;

}


#navbar {

    position: absolute;

    top: 6vh;

    left: 22vw;

}


#navbar .item {

    display: inline-block;

    text-align: center;

    width: 11vw;

    margin: 0 2vw;

}


#navbar .item img {

    display: inline-block;

    margin-bottom: 5px;

    width: 100%;

}


#navbar .item a,

#navbar .item a:hover,

#navbar .item a:link,

#navbar .item a:visited {

    text-decoration: none;

    font-family: 黑体;

    font-size: 1.8em;

    cursor: pointer;

    color: black;

}


#navbar .item a

#navbar .item a:visited {
 
   color: black;

    left:20px;

}


#navbar .item a:hover {

    color: #1F65C8;

}


#page_title {

    font-family: 黑体;

    font-size: 3.8em;

    position: relative;

    top: 270px;

}


#chuan {

    height: 521px;

    top: 380px;

}


#chuan .title {

    top: 10%;

    left: 25%;

}


#chuan .content {

    top: 25%;

    left: 25%;

    width: 32%;

}


#chuan .image {
    top: -25%;
	
    right: 65%;

}


#tai{

    top: 224px;

    height: 300px;

}


#tai .title {

    top: -55%;

    left: 65%;

}


#tai .content {

    top: -35%;

    left: 65%;

    width: 20%;

}


#tai .image {

    left: 80%;
    top:-30%;
    width:15%;

}


#yu {

    top: 241px;

    height: 519px;

}


#yu .title {

    top: -15%;

    left: 24%;

}


#yu .content {

    top: 0%;

    left: 24%;

    width: 32%;

}

#yu .image {

    left: 10%;
    top:-30%;

}



#hang {

    top: 10px;

    height: 300px;

}


#hang .title {

    top: 10%;

    left: 56%;

}


#hang .content {
    top: 30%;

    left: 56%;

    width: 32%;

}


#hang .image {

    left: 40%;
    top:20%;
    bottom: 1%;

}


#footer {

    font-family: 黑体 ;

    position: relative;

    width: 100%;

    background-color: #bdbdbd;

    text-align: center;

    top: 240px;

    padding-top: 10px;

    padding-bottom: 1px;

}
