body {
	background-color: #696B72;
	background-image: url();
	background-repeat: repeat;
}
#Layer1 {
	position:absolute;
	z-index:1;
	left: 0px;
	top: 0px;
	background-color: #696B72;
}
.STYLE3 {
	font-size: 48px;
	color: #3E2D1D;
}
.STYLE4 {
	font-size: 50px;
	color: #3E2D1D;
	font-weight: bold;
	font-family: "宋体";
}


.STYLE7 {
	font-size: 36px;
	font-weight: bolder;
	color: #35271C;
}
.STYLE14 {
	font-size: 24px;
	font-weight: bold;
	color: #3E2D1D;
}
